@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "unbounded";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/unbounded/Unbounded-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "unbounded";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/unbounded/Unbounded-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/poppins/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/poppins/Poppins-Bold.woff2") format("woff2");
}

html, 
body {
  scrollbar-width: none;
}

body {
  position: relative;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.unbounded {
  font-family: "unbounded";
}

.logo {
  width: 127px;
  height: 86px;
}

.blurred {
  border-radius: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(0deg, rgba(20, 61, 61, 0.20) 0%, rgba(20, 61, 61, 0.20) 100%), radial-gradient(194.78% 165.85% at 50% 100%, rgba(255, 255, 255, 0.00) 0%, rgba(57, 57, 57, 0.25) 100%);
  background-blend-mode: overlay, plus-darker;
  box-shadow: 0px 16px 3px -12px rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(5px);
}

.hollow {
  border-radius: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.30);
  background: radial-gradient(189.05% 160.98% at 50% 100%, rgba(255, 255, 255, 0.00) 0%, rgba(57, 57, 57, 0.25) 100%);
  backdrop-filter: blur(3px);
}

.clip-left {
  clip-path: polygon(30% 91%,71% 81%,75% 100%,0% 100%);
}

.line {
  height: 2px;
}

.mySwiper {
  max-height: 572px;
}

#canvas {
  /* make the canvas wrapper fits the document */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}


.multi-textures {
  z-index: 40;
  cursor: pointer;
}

.multi-textures img {
  display: none;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}


.plane img {
  /* hide the img element */
  display: none;
}

